* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f3bbb1;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}

.contenedor {
  width: 100%;
}

header {
  margin: auto;
}

.collapse {
  flex-grow: 0;
}

nav {
  width: 100%;
  text-align: right;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 20px;
  display: flex;
}

nav ul li {
  display: inline;
}

nav,
ul,
li,
a {
  color: black;
  font-size: 18px;
  text-decoration: none;
  padding-left: 15px;
  font-weight: bold;
  letter-spacing: 1px;
}

nav ul li a:hover {
  color: #707070;
  font-size: 20px;
}

/* ---------- AQUI COMIENZA EL MAIN PRIMERA SECCION ---------- */
.main-seccion {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 2fr 2fr 3fr;
}

.envio {
  display: flex;
  justify-content: space-around;
  padding: 60px;
  align-items: center;
  background-image: url(/Imagenes/imagen\ camion.jpg);
  background-repeat: no-repeat;
  margin: 20px;
  background-position: center;
}

.titulo {
  background-color: black;
  border-radius: 10px;
  padding: 20px;
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.seguimiento {
  background-color: black;
  border-radius: 10px;
  padding: 20px;
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.titulo-envio {
  font-size: 38px;
}

.seguimiento-envio {
  font-size: 32px;
}

/* ---------- AQUI COMIENZA LA SECCION SERVICIO ---------- */
.carousel-item {
  height: 600px;
}

.titulo-serivicio {
  display: flex;
  justify-content: center;
}

.lista-servicio {
  display: flex;
  justify-content: space-around;
  padding: 38px;
}

img {
  border-radius: 15px;
  height: 100%;
  object-fit: cover;
}

/* ---------- AQUI COMIENZA LA SECCION AYUDA ---------- */
.ayuda {
  display: flex;
  justify-content: space-around;
  height: auto;
  align-items: center;
}

.ayuda-seccion {
  width: 70%;
  display: flex;
  justify-content: space-around;
  padding: 30px;
  align-items: center;
}

.titulo-ayuda {
  width: 40%;
  transition: transform 1s;
}

.titulo-ayuda:hover {
  transform: scale(1.2);
  box-shadow: 4px 6px 19px -5px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 4px 6px 19px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 6px 19px -5px rgba(0, 0, 0, 0.75);
}

.descripcion {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding: 25px;
  font-size: 22px;
}

/* --------- AQUI COMIENZA EL FOOTER  --------- */
.seccion-footer {
  color: whitesmoke;
  display: flex;
  justify-content: space-between;
  height: 150px;
  padding: 70px;
}

.footer-descripcion {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lista {
  display: flex;
  justify-content: right;
}

li {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

footer ul li {
  color: white;
  margin: 20px;
}

footer ul li h5 {
  font-size: 20px;
}

footer ul li p {
  font-size: 14px;
}

/* --------- HTML CONTACTO --------- */
.contenedor-formulario {
  padding: 20px;
  background: no-repeat;
  margin: 10px;
}

.titulo-formulario {
  font-size: 50px;
  color: black;
  text-decoration: underline;
}

.contenido-formulario {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  height: 70vh;
  margin: 100px;
  padding: 30px;
  color: #584116;
  font-size: 25px;
}

input,
textarea {
  height: 25px;
  width: 200px;
}

.formulario {
  display: flex;
  flex-direction: column;
}

label {
  text-align: left;
}

/*---------- HTML NOSOTROS ----------*/
.main-sobre-nosotros {
  margin-top: 100px;
}

.main-nosotros {
  padding: 30px;
  font-size: 20px;
}

.titulo-nosotros {
  margin-bottom: 20px;
  text-decoration: underline;
  font-family: Arial, Helvetica, sans-serif;
}

.main-nosotros p {
  font-size: 25px;
}

.imagen-nosotros {
  width: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  margin-top: 50px;
}

/*---------- HTML LOGISTICA ----------*/

.logo-producto {
  text-align: center;
  border-radius: 5px;
}
