/* ---------- AQUI COMIENZA EL MAIN PRIMERA SECCION ---------- */

.main-seccion {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 2fr 2fr 3fr;
  }
  
  .envio {
    display: flex;
    justify-content: space-around;
    padding: 60px;
    align-items: center;
  }
  
  .titulo {
    background-color: $bg-red;
    border-radius: 10px;
    padding: 25px;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .seguimiento {
    background-color: $bg-red;
    border-radius: 10px;
    padding: 25px;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .titulo-envio {
    font-size: 38px;
  }
  
  .seguimiento-envio {
    font-size: 32px;
  }
  
  /* ---------- AQUI COMIENZA LA SECCION SERVICIO ---------- */
  
  .carousel-item {
    height: 600px;
  }
  
  .titulo-serivicio {
    display: flex;
    justify-content: center;
  }
  
  .lista-servicio {
    display: flex;
    justify-content: space-around;
    padding: 38px;
  }
  
  img {
    border-radius: 15px;
    height: 100%;
    object-fit: cover;
  }
  
  /* ---------- AQUI COMIENZA LA SECCION AYUDA ---------- */
  
  .ayuda {
    display: flex;
    justify-content: space-around;
    height: auto;
    align-items: center;
  }
  
  .ayuda-seccion {
    width: 70%;
    display: flex;
    justify-content: space-around;
    padding: 30px;
    align-items: center;
  }
  
  .titulo-ayuda {
    width: 40%;
    transition: transform 1s;
  }
  
  .titulo-ayuda:hover {
    transform: scale(1.2);
    box-shadow: 4px 6px 19px -5px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 4px 6px 19px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 6px 19px -5px rgba(0, 0, 0, 0.75);
  }
  
  .descripcion {
    display: flex;
    flex-direction: column;
    gap: 27px;
    padding: 25px;
    font-size: 22px;
  }
  