* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

body {
  background-color: #fafafa;
  font-family: monospace;
  height: 100%;
}

.contenedor {
  width: 100%;
}

header {
  margin: auto;
}

.collapse {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

nav {
  width: 100%;
  text-align: right;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav li {
  display: inline;
}

nav li a {
  color: black;
  font-size: 18px;
  text-decoration: none;
  padding-left: 15px;
  font-weight: bold;
  letter-spacing: 1px;
}

nav ul li a:hover {
  color: #707070;
  font-size: 20px;
}

/* ---------- AQUI COMIENZA EL MAIN PRIMERA SECCION ---------- */
.main-seccion {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: 2fr 2fr 3fr;
      grid-template-rows: 2fr 2fr 3fr;
}

.envio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.titulo {
  background-color: red;
  border-radius: 10px;
  padding: 25px;
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.seguimiento {
  background-color: red;
  border-radius: 10px;
  padding: 25px;
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.titulo-envio {
  font-size: 38px;
}

.seguimiento-envio {
  font-size: 32px;
}

/* ---------- AQUI COMIENZA LA SECCION SERVICIO ---------- */
.carousel-item {
  height: 600px;
}

.titulo-serivicio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.lista-servicio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 38px;
}

img {
  border-radius: 15px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* ---------- AQUI COMIENZA LA SECCION AYUDA ---------- */
.ayuda {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ayuda-seccion {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.titulo-ayuda {
  width: 40%;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.titulo-ayuda:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  box-shadow: 4px 6px 19px -5px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 4px 6px 19px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 6px 19px -5px rgba(0, 0, 0, 0.75);
}

.descripcion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 27px;
  padding: 25px;
  font-size: 22px;
}

/* --------- HTML CONTACTO --------- */
.contenedor-formulario {
  padding: 20px;
  background: no-repeat;
  margin: 10px;
}

.titulo-formulario {
  font-size: 50px;
  color: black;
  text-decoration: underline;
}

.contenido-formulario {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  height: 70vh;
  margin: 100px;
  padding: 30px;
  color: #584116;
  font-size: 25px;
}

input,
textarea {
  height: 25px;
  width: 200px;
}

.formulario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

label {
  text-align: left;
}

/* HTML NOSOTROS */
.main-sobre-nosotros {
  margin-top: 100px;
}

.main-nosotros {
  padding: 30px;
  font-size: 20px;
}

.titulo-nosotros {
  margin-bottom: 20px;
  text-decoration: underline;
  font-family: Arial, Helvetica, sans-serif;
}

.main-nosotros p {
  font-size: 25px;
}

.imagen-nosotros {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 100px;
  margin-top: 50px;
}
/*# sourceMappingURL=style.css.map */